$blue : #4068d7;
$desktopWidth : 1000px;


html{
    background:url('../img/creampaper.png');
}

body{
    background:transparent;
    font-family: 'Source Sans Pro', 'Myriad Pro', sans-serif;
}
p{
 text-indent: 1em;   
 font-size:.8em;
 margin-bottom:1em;
}
em{
 font-style:italic;   
}
strong{
 font-weight:bold;   
}





.ad{
    background-color:#d8d8d8;
    width:350px;
    padding:10px;
    float:right;
    color:#6e6e6e;
    @media screen and (max-width: $desktopWidth) {
        float: none;
        margin:0px 10px 45px 10px;
        width: auto;
    }
}
.ad h2{
    color: #535353;
    font-weight:bold;  
    margin-bottom:.2em;
    font-size:1.2em
}





#container-header{
    background: black url('../img/stressed_linen.png');
    color:white;
    height:55px;
    padding:10px 0 10px 20px;
    position:fixed;
    width:100%;
    z-index:100;
}

#container-header .logo{
    font-size: 2.2em;
}
#container-header .logo .subdomain{
    color:$blue;
}





#container-content{
    width:$desktopWidth;
    padding-top:100px;
    margin: 0px auto;
    position:relative;
    @media screen and (max-width: $desktopWidth) {
        left:0px;
        margin-left:0px;
        width:100%;
    }
}



.entry{
    position:relative;
    display:inline-block;
    float:left;
    clear:left;
    -webkit-transition-duration: .08s;
    -webkit-transition-timing-function: ease-in;  
}
.entry{
    display: block;
    @media screen and (max-width: $desktopWidth) {
        left:5px;
    }
}
.entry:hover{
    left:5px;
    -webkit-transition-duration: .08s;
    -webkit-transition-timing-function: ease-out;
    
}

.entry a:active{
    .data{
        background-color:$blue;
    }
    h2,  .supplementary span[data-href]{
        color: white;
    }
}

.entry a:after{
    font-size:.7em;
    position:absolute;
    right:25px;
    bottom:27px;
    color:#9a9a9a;
}
.entry a:hover:after{
    content: 'Click to View';
}
.entry.read a{
    opacity: .5;
}
.entry.read a:after{
    @media screen and (max-width: $desktopWidth) {
        content: 'Previously Read';
    }
}
.entry.read a:hover{
    opacity: 1;
}
.entry.read a:hover:after{
    content : 'Previously Read';
}

.entry:nth-child(1),
.entry:nth-child(2){
    @media screen and (min-width: $desktopWidth) {
       max-width:630px; /* This is so that if the first or second element are extra long, they wrap, rather than push down below the ad -- this is not the best solution I don't think */
    }
}

.entry .data{
    display:inline-block;
    padding-right:200px;
    background-color:white;
    background: rgb(255, 255, 255);
    /*background: rgba(255, 255, 255, 0.6);*/
    padding:10px;
    padding-left:150px;
    border-left:8px solid #4068d7;
    margin-bottom:50px;
    max-width:100%;
    margin-right:20px;
    box-shadow: 0px 2px 3px #9a9a9a;
}
.entry.no-thumbnail .data{
    padding-left:15px;   
}

.entry .thumbnail{
    position:absolute;
    top:-10px;   
    left:16px
}
.entry .thumbnail img{
    border: 5px solid white;
    box-shadow: 0px 2px 3px #9a9a9a;
    max-width:120px;
    max-height:120px;
    height: auto;
}
.entry.image .thumbnail{
    top:-22px;   
}




.entry .data h2{
    color:black;
    font-size:1.4em;
    font-weight:600;
    line-height:1em;
    margin-bottom:5px;
}
.entry .data .supplementary{
    color:#b5b5b5;
    font-size:.7em;
    font-style:italic;
    display:block;
}
.entry .data .supplementary span[data-href]{
    color:#4068d7;
    text-decoration:underline;   
}



.entry.article .data h2:before,
.entry.image .data h2:before,
.entry.video .data h2:before,
.entry.social .data h2:before{
    content : '';
    width:20px;
    height:22px;
    position:relative;
    top:4px;
    display:inline-block;
    margin-right:8px;
    background-image: url('../img/sporklist-sprite.png');
}

.entry.article .data h2:before{
    background-position:2px -25px;
}

.entry.image .data h2:before{
    background-position:0px -48px;
}
.entry.image {
    margin-bottom: 20px;
}
.entry.video .data h2:before{
    background-position:3px -1px;
}

.entry.social .data h2:before{
    background-position:-1px -74px;
}

