$blue : #4068d7;
$grey : #6e6e6e;
$desktopWidth : 1000px;


html{
    background:url('../img/creampaper.png');
}

body{
    background:transparent;
    font-family: 'Source Sans Pro', 'Myriad Pro', sans-serif;
    font-size:1em;
    @media screen and (max-width: $desktopWidth) {
        font-size:1em;
    }
}
p{
 text-indent: 1em;   
 font-size:80%;
 margin-bottom:1em;
}
em{
 font-style:italic;   
}
strong{
 font-weight:bold;   
}



.ad{
    background-color:#d8d8d8;
    width:350px;
    padding:10px;
    float:right;
    color:$grey;
    @media screen and (max-width: $desktopWidth) {
        float: none;
        margin:0px 10px 45px 10px;
        width: auto;
    }
}
.ad h2{
    color: #535353;
    font-weight:bold;  
    margin-bottom:.2em;
    font-size:110%;
}





#container-header{
    background: black url('../img/stressed_linen.png');
    color:white;
    height:3.6em;
    padding:0 0 0 1em;
    position:fixed;
    width:100%;
    z-index:100;
}

#container-header .logo{
    font-size: 220%;
}
#container-header .logo .subdomain{
    color:$blue;
}





#container-content{
    width:$desktopWidth;
    padding-top:4.5em;
    margin: 0px auto;
    position:relative;
    @media screen and (max-width: $desktopWidth) {
        left:0px;
        margin-left:0px;
        width:100%;
    }
}



.entry{
    max-width: 630px;
    position:relative;
    display:inline-block;
    float:left;
    clear:left;
    -webkit-transition-duration: .08s;
    -webkit-transition-timing-function: ease-in;  
}
.entry{
    display: block;
    @media screen and (max-width: $desktopWidth) {
        margin-left:1em;
    }
}
.entry:hover{
    left:1em;
    -webkit-transition-duration: .08s;
    -webkit-transition-timing-function: ease-out;
    
}

.entry a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);   
}
.entry a:active{
    .data{
        background-color:$blue;
    }
    h2,  .supplementary span[data-href]{
        color: white;
    }
}

.entry a:after{
    -webkit-transition-duration: .08s;
    -webkit-transition-timing-function: ease-in;  
    font-size:70%;
    position:absolute;
    right:2em;
    bottom:1em;
    color:#9a9a9a;
}
.entry a:hover:after{
    content: 'Click to View';
}
.entry.read .data{
    background-color:transparent;
    border-left-color:transparent;
    color:$grey;
    margin-bottom:1em;
    margin-top:0;
    box-shadow:0 0 0 0;
}
.entry.read .data h2{
    color:$grey;
}
.entry.read a:hover:after{
    content : 'Previously Read';
}

.entry:nth-child(1),
.entry:nth-child(2),
.entry:nth-child(3){
    @media screen and (min-width: $desktopWidth) {
       max-width:630px; /* This is so that if the first or second element are extra long, they wrap, rather than push down below the ad -- this is not the best solution I don't think */
    }
}

.entry .data,
.entry.read:hover .data{
    display:inline-block;
    padding-right:200px;
    background-color:white;
    background: rgb(255, 255, 255);
    /*background: rgba(255, 255, 255, 0.6);*/
    padding:10px;
    padding-left:9.5em;
    border-left:8px solid #4068d7;
    margin-bottom:2em;
    max-width:100%;
    margin-right:1em;
    box-shadow: 0px 2px 3px #9a9a9a;
    @media screen and (max-width: $desktopWidth) {
        padding-left:6.5em;
    }
    
    -webkit-transition-duration: .08s;
    -webkit-transition-timing-function: ease-in;  
}
.entry.read .data,
.entry.read:hover .data{
    padding-left:6em;
}
.entry.no-thumbnail .data,
.entry.read.no-thumbnail .data,
.entry.read.no-thumbnail:hover .data{
    padding-left:1em;   
}

.entry .thumbnail{
    position:absolute;
    top:-10px;   
    left:16px
}
.entry .thumbnail img{
    border: .4em solid white;
    box-shadow: 0px 2px 3px #9a9a9a;
    max-width:7.25em;
    max-height:7.25em;
    height: auto;
    @media screen and (max-width: $desktopWidth) {
        max-width:5em;   
    }
    
}
.entry.image .thumbnail{
    top:-22px;   
}

.entry.read .thumbnail img{
    max-width:4em;
    max-height:4em;
    border-width:.2em;
    @media screen and (max-width: $desktopWidth){
        max-width:2.5em;   
    }
}

.entry.image.read .thumbnail{
    top:.3em;
}

.entry .data h2{
    color:black;
    font-size:140%;
    font-weight:600;
    line-height:1em;
    margin-bottom:5px;
}
.entry .data .supplementary{
    color:$grey;
    font-size:70%;
    font-style:italic;
    display:block;
}
.entry:active .data .supplementary{
    color:#FFFFFF;
}
.entry .data .supplementary span[data-href]{
    color:#4068d7;
    text-decoration:underline;   
}



.entry.article .data h2:before,
.entry.image .data h2:before,
.entry.video .data h2:before,
.entry.social .data h2:before{
    content : '';
    width:20px;
    height:22px;
    position:relative;
    top:4px;
    display:inline-block;
    margin-right:8px;
    background-image: url('../img/sporklist-sprite.png');
}

.entry.article .data h2:before{
    background-position:2px -25px;
}

.entry.image .data h2:before{
    background-position:0px -48px;
}
.entry.video .data h2:before{
    background-position:3px -1px;
}

.entry.social .data h2:before{
    background-position:-1px -74px;
}

.entry.image{
    margin-top:1em;
    margin-bottom:1em;
}
.entry.read.image{
    margin-top:0;
    margin-bottom:0;
}

.testing-sqlDump{
    display: none;
}
